beautifulsoup4==4.12.2
dask==2023.12.0
geopandas==0.14.1
geopolars==0.1.0a4
matplotlib==3.8.2
numpy==1.26.2
pandas==2.1.4
polars==0.20.1
seaborn==0.13.0
Shapely==2.0.2
simpledbf==0.2.6
wget==3.2
xlrd==2.0.1
openpyxl==3.1.2